// TODO: pull request on https://github.com/google/material-design-lite
.mdl-menu__container
  visibility visible
  pointer-events none
  z-index 9000

.mdl-menu__container.is-visible
  pointer-events all

.mdl-layout__drawer-button
  outline none