body
  width 100%
  height 100%
  position relative

.grid__outer
  width 100%
  max-width 1160px
  padding 0 16px

.button-next
  .md-icon
    margin-right -8px
    margin-top -1px

.button-before
  min-width 0
  width 40px
  .md-icon
    margin-left -8px
    margin-top -1px