body
  width 100%
  height 100%
  position absolute
  top 0
  left 0

#app
  position absolute
  width 100%
  height 100%
  font-family 'Roboto', Helvetica, Arial, sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

input
  font-family 'Roboto', Helvetica, Arial, sans-serif

.md-input-container
  .input__unit
    line-height 1em
    position absolute
    bottom 10px !important
    right 0
    opacity 0
    transition all .2s

  &.md-input-focused
  &.md-has-value
    .input__unit
      opacity 1

  &.md-input-invalid
    .input__unit
      color #ff5722

// md-button icon fixes
.md-button
  &.icon-left
    i.md-icon
      margin-left -6px
      margin-top -2px
  &.icon-right
    i.md-icon
      margin-right -6px
      margin-top -2px

// md-radio layout fixes
.md-radio
  display block !important

  &-container
    display inline-block

  label
    position relative
    top -5px

// Remove spinner from input type="number"
input[type="number"]
  &::-webkit-outer-spin-button
  &::-webkit-inner-spin-button
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance none
    margin 0 /* <-- Apparently some margin are still there even though it's hidden */

.wordwrap--fade
  text-overflow ellipsis !important
//   &:after
//     pointer-events none
//     display block
//     content ''
//     width 25px
//     height 100%
//     position absolute
//     top 0
//     right 0
//     background linear-gradient(to right, rgba(255,0,0,0) 0%,rgba(255,0,0,1) 100%)
//     transition all 2s !important

// a:hover .wordwrap--fade:after
//   background linear-gradient(to right, rgba(235,235,235,0) 0%,rgba(235,235,235,1) 100%)

// a:active .wordwrap--fade:after
//   background linear-gradient(to right, rgba(214,214,214,0) 0%,rgba(214,214,214,1) 100%)

.md-list-item
  .md-ink-ripple
    display none !important

// page transitions
.fade
  &-enter-active, &-leave-active
    transition opacity .2s
    
  &-enter, &-leave-to
    opacity 0
    transition opacity .2s

// page transitions
.page-fade
  &-enter-active, &-leave-active
    transition opacity .5s
    
  &-enter, &-leave-to
    opacity 0
    transition opacity .15s

.expand
  &-enter-active, &-leave-active
    opacity 1
    max-height 1000px
    overflow hidden
    transition all .4s
    
  &-enter, &-leave-to
    opacity 0
    max-height 0
    transition all .4s

// float fix
.clearfix
  clear both

// global page styling
.page
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  overflow-x hidden
  overflow-y scroll
  background white

  &--menu
    border-top 56px solid white

  &--tabs
    border-top 46px solid white

  &--cards
    background #eee

  &--padded
    width 100%
    max-width 1160px
    padding 16px 24px

.card
  &__heading
    padding-top 0
    margin-top 0